.login {
  margin-top: 10rem;
  display: flex;
  justify-content: center;
  align-items: center;

  &__container {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;

    @media (min-width: $lg) {
      width: 70%;
    }
  }

  &__sign-up {
    text-decoration: underline;
  }

  &__sign-up-link {
    padding-top: 1rem;
  }
}
