.register {
  height: 100%;
  //   margin-bottom: 5rem;
  padding: 2rem 0;
  display: flex;
  justify-content: center;
  align-items: center;

  &__container {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;

    @media (min-width: $lg) {
      width: 70%;
    }
  }
}
