.tabs {
  border-bottom: 1px solid rgb(203, 203, 203);

  &__list {
    display: flex;
    margin: 0;
  }

  &__item {
    position: relative;
    z-index: 100;
    top: 1px;
    padding: 1rem 2rem;
    cursor: pointer;

    &:hover {
      color: $primaryColor;
    }

    &.active {
      font-weight: 600;
      color: $primaryColor;
      border-bottom: 3px solid $primaryColor;
      margin-bottom: -1px;
    }
  }
}
