// BRAND COLORS
$cherry: #d90429;
$porcelain: #edf2f4;
$cadetGrey: #8d99ae;
$outerSpace: #2b2d42;
$strawberry: #ef233c;
$primaryTextColor: #333;

// BREAK POINTS
$xsm: 320px;
$sm: 540px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xxl: 1920px;
