@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");

*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

html,
body {
  width: 100%;
  height: 100%;
  font-size: 16px;
}

a {
  text-decoration: none;
  color: black;
}

ul {
  list-style-type: none;
}

.wrapper {
  width: 90%;
  margin: 0 auto;
}

@import "./partials/variables";

@import "./partials/login";
@import "./partials/inputs";
@import "./partials/register";
